:root {
  --borderRadius: 12px;
}
.ProjectsContainer {
  width: 100%;
  height: max-content;
  padding: 30px 10px 70px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(200, 200, 200, 0.6);
  transition: all 1s;
}

.ProjectsContainer h1 {
  margin-bottom: 20px;
}

.Projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.ProjectCard {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
}

.Project_Wrapper {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: var(--borderRadius);
  width: 100%;
  height: 100%;
  gap: 10px;
  transition: all 0.2s ease-in-out;
}
.Project_Wrapper:hover {
  scale: 1.05;
}
.Project_Wrapper p {
  font-size: 1.8rem;
}

.Project_Wrapper p:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}
.Project_Wrapper p:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}

.imgWrapper {
  width: 100%;
  height: 85%;
  display: flex;
}
.Project_Wrapper img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.Project_Eplain {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgb(241, 228, 204);
  padding: 5px;
  border-radius: var(--borderRadius);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.ProjectCard:hover .Project_Eplain {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 1100px) {
  .Projects {
    gap: 5px;
  }
  .ProjectCard {
    width: 400px;
    height: 350px;
  }
  .Project_Wrapper:hover {
    scale: 1.01;
  }
}

@media only screen and (max-width: 500px) {
  .ProjectCard {
    width: 350px;
    height: 300px;
  }
}
@media only screen and (max-width: 400px) {

}
