.skills_container {
  margin-top: var(--header-height_fullscreen);
  transition: margin-top 1s;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
ul {
  width: 95%;
  height: max-content;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  font-size: 1.5rem;
}

ul img {
  width: 60px;
}
.React_Icon {
  font-size: 30px;
}

.skill_separator {
  width: 5px;
  height: 5px;
  margin: 0px 2px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

span {
  pointer-events: none;
}
ul > li,
.React_Icon {
  animation: bounce;
  animation-duration: 2s;
}

@media only screen and (max-width: 700px) {
  ul img {
    width: 50px;
  }
  .React_Icon {
    font-size: 30px;
  }
  .skills_container {
    margin-top: var(--header-height-fullscreen);
  }
}

@media only screen and (max-width: 500px) {
}
