.Header_Container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  transition: height 1s;
  z-index: 999;
}

.Profile_Content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.Profile_Content ul {
  display: flex;
  gap: 5px;
  left: 10px;
  width: max-content;
  margin-left: 20px;
}

.Profile_Img_Container {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  left: 10px;
}

.Profile_Img_Container img {
  border-radius: 50%;
  width: 60px;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Profile_Img_Container img:hover {
  transform: scale(1.2);
}

.Profile_Name {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  color: rgb(250, 250, 250);
}

.header_collapsible {
  position: absolute;
  width: max-content;
  color: rgb(250, 250, 250);
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_list {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 20px;
}

.header_list li {
  font-family: "Times New Roman", Times, serif;
  position: relative;
  padding: 5px;
  display: inline-block;
}

.header_list li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header_list li:hover {
  cursor: pointer;
}

.header_list li:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 700px) {
  .Header_Container {
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .Profile_Content {
    flex-direction: column;
    text-align: center;
  }

  .Profile_Img_Container .Profile_Name {
    left: 0;
    margin-left: 0;
  }

  .Profile_Content p {
    font-size: 20px;
  }

  .header_collapsible {
    position: relative;
  }
}
